@font-face {
    font-family: 'AmazDooM';
    src: url('./assets/AmazDooMLeft.woff2') format('woff2'), url('./assets/AmazDooMLeft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background-color: #090909;
    background-image: url('./assets/pixels.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
}

#header {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'AmazDooM';
    font-size: 7rem;
    color: white;
    text-shadow: 2px 2px black;
    height: 4rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: white;
    font-family: 'AmazDooM';
    font-size: 3rem;
    text-shadow: 1px 1px black;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-left: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

a:hover,
a.active {
    color: #971919;
}

a {
    color: white;
}

.content {
    text-shadow: 1px 1px black;
    color: white;
}

.thumbnail {
    width: 350px;
    border-radius: 20px;
    margin: 0 10px;
}

.images {
    display: flex;
    justify-content: center;
}
