@font-face {
    font-family: 'AmazDooM';
    src: url('./assets/AmazDooMLeft.woff2') format('woff2'), url('./assets/AmazDooMLeft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #090909;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

/* header & navbar */

#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    font-family: 'AmazDooM';
    font-size: 7rem;
    color: white;
    text-shadow: 2px 2px black;
    height: 4rem;
}

.nav {
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: white;
    font-family: 'AmazDooM';
    font-size: 3rem;
    text-shadow: 1px 1px black;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-left: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

/* pixels background */

#pixels {
    width: 100%;
    height: 100%;
    background-image: url('./assets/pixels.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}

/* links */

a:hover,
a.active {
    color: #971919;
}

a {
    color: white;
}

/* text content */

.content {
    text-shadow: 1px 1px black;
    margin: 1rem;
    position: relative;
}

/* images */

.images {
    display: flex;
    justify-content: center;
}

.single {
    width: 600px;
    border-radius: 20px;
}

.double {
    width: 350px;
    border-radius: 20px;
}

figcaption {
    font-style: italic;
    text-align: center;
}

/* footer */

footer {
    margin-top: 4rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-top: 1px solid #971919;
    flex-direction: column;
    align-items: center;
    align-text: center;
    justify-content: space-around;
    display: flex;
}

footer p {
    margin: 0 auto;
}
