@font-face {
    font-family: 'AmazDooM';
    src: url('./assets/AmazDooMLeft.woff2') format('woff2'), url('./assets/AmazDooMLeft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #090909;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

/* title & navbar */

#title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'AmazDooM';
    font-size: 7rem;
    text-shadow: 2px 2px black;
}

#title img {
    width: 90%;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'AmazDooM';
    font-size: 3rem;
    text-shadow: 1px 1px black;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #eab46c;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
    }
}

/* pixel background */

#pixelated-background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}

/* links */

a:hover,
a.active {
    color: #971919;
}

a {
    color: white;
}

/* pages & content */

.centered-single {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.page {
    text-shadow: 1px 1px black;
    margin: 1rem;
    position: relative;
}

.togglable-area {
    display: none;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.toggle-button {
    background-color: rgba(71, 25, 25, 0.7);
    font-weight: bold;
    padding: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 6px;
    border: 1.3px solid white;
}

.toggle-button:active,
.toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#cheats code,
#params code {
    font-size: 1rem;
    display: block;
    padding: 7px 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

#cheats li,
#params li {
    margin-bottom: 30px;
}

#cheats ul,
#params ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.command {
    display: block;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.command-wrapper p {
    margin: 0.5rem 1rem 2rem;
}

.header-with-icon {
    display: flex;
    justify-content: start;
    padding: 5px;
    margin-top: 2rem;
}

.header-with-icon h2 {
    margin: 0;
}

.header-with-icon img {
    width: 25px;
    margin-right: 5px;
}

#getting-started-components p {
    margin-left: 1rem;
}

#crispness-menu h2 {
    padding: 5px;
}

/* images */

img {
    width: 100%;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.modal-image {
    cursor: pointer;
    border-radius: 20px;
}

.single-row-image {
    width: 90%;
}

figure {
    margin: 0.5rem;
}

@media screen and (min-width: 600px) {
    figure {
        width: 45%;
    }
}

figcaption {
    font-style: italic;
    text-align: center;
}

/* download */

.download-platform {
    display: flex;
    justify-content: start;
    background-color: rgba(71, 25, 25, 0.7);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    margin-top: 2rem;
}

.download-platform h4 {
    margin: 0;
}

.download-platform img {
    width: 20px;
    margin: 0 10px 0 5px;
}

#latest-release {
    display: flex;
    align-items: center;
}

#latest-release h3 {
    margin: 0;
}

#download-button {
    color: #eab46c;
    background-color: rgba(151, 25, 25, 0.7);
    padding: 7px;
    font-size: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

#download-button:hover {
    color: white;
}

/* footer */

footer {
    margin-top: 4rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-top: 1px solid #971919;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    position: relative;
}

footer p {
    margin: 0 auto;
}

/* modal */

#modalcheck:checked ~ #modal {
    display: block;
}

#modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}

#modal-image-placeholder {
    margin-top: 1rem;
    border-radius: 20px;
    width: 70%;
    position: fixed;
    left: 15%;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
